<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque aspernatur quaerat pariatur ipsa, accusamus,
            laborum voluptatum aliquid ad, magni porro quibusdam distinctio rerum esse fugit quis nostrum asperiores
            libero. Voluptate eius temporibus aut eligendi labore consequuntur sint beatae atque quod.</p>
    </div>
</div>