<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo illum quam, debitis possimus eius,
        voluptatem iure, exercitationem veniam animi doloribus? Doloremque ipsum, nostrum alias odio qui facere expedita
        esse?</p>
    <a href="https://weenks.ml" class="btn btn-primary btn-lg">weenks</a>
</div>